<img class="image" src="../../../assets/jpeg/degree.jpg">
<div class="text">I have born and bought up in <a href="{{cityLink}}" target="_blank">Aurangabad(MH).</a></div>
<div class="text">I have done Bachelor of engineering in Computer Science and Engineering from 
    MGM's Jawaharlal Nehru Engineering College, Aurangabad(MH)..</div>
<div class="text">My intermediate was done from SBES College of Science, Aurangabad(MH).
</div>
<div class="text">I did my schooling from Holy Cross Marathi High School, Aurangabad(MH).
</div>
