<div class="wrapper">
    <div class="sub-header">Professional Experience</div>
    <table class="tech-info sub-header">
        <tr>
            <td>{{messages.companyName}}</td>
            <td>{{messages.nihilent}}</td>
        </tr>
        <tr> 
            <td>{{messages.projectName}}</td>
            <td>{{messages.nedbank}}</td>
        </tr>
        <tr>
            <td>
                {{messages.role}}
            </td>
            <td>
                {{messages.roleValue}}
            </td>
        </tr>
    </table>
    <div class="technology">
        {{messages.ProjectDescription}}
    </div>
    <button class="primary-button done" (click)="back()">Done</button>
</div>